<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: commonHead"></head>
<body>
<th:block th:include="fragments/header :: commonHeader"></th:block>

<div layout:fragment="page_content">
</div>

<th:block th:include="fragments/footer :: commonFooter"></th:block>
<div layout:fragment="script_area"></div>
</body>
</html>