<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">NewsOnMap</title>
	<th:block th:replace="fragments/head :: commonHead"></th:block>
</head>
<body>
<th:block th:include="fragments/header :: commonHeader"></th:block>

<div class="wrapper">
	<th:block th:replace="fragments/sidebar :: commonSidebar"></th:block>
	<div class="main-panel">
		<th:block th:replace="fragments/navbar :: commonNavbar"></th:block>
		<th:block layout:fragment="page_content">	</th:block>
		<th:block th:replace="fragments/footer :: commonFooter"></th:block>
	</div>
</div>
<th:block th:replace="fragments/scripts"></th:block>
<th:block layout:fragment="script_area"></th:block>
</body>
</html>