<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mynews.newsbigdata.MemberMapper">
	<insert id="signUp" useGeneratedKeys="true" keyProperty="idx" parameterType="Member">
		insert into memberinfo (email, password, username, gender, generation, created_at)
		values(#{email}, #{password}, #{userName}, #{gender}, #{generation}, current_timestamp())  
	</insert>

	<select id="checkMember" parameterType="Member" resultType="int">
		select count(email) from memberinfo where email=#{email}
	</select>

	<select id="viewMember" parameterType="Member" resultType="Member">
		select email, password, username, gender, generation, created_at 
		from memberinfo where email=#{email}
	</select>
</mapper>