<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mynews.newsbigdata.mapper.NewsMapper">
	<resultMap type="News" id="newsMap">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="title" column="title" />
		<result property="category" column="category" />
		<result property="date" column="date" />
		<result property="url" column="url" />
		<result property="content" column="content" />
		<result property="dataSize" column="data_size" />
	</resultMap>

	<select id="getAllTitles" resultMap="newsMap">
		SELECT id, title FROM news_lists ORDER BY RAND() LIMIT 10
				<!-- SELECT id, title FROM news_lists WHERE date=CURDATE() ORDER BY RAND() LIMIT 10 -->
	</select>

	<!-- <select id="getId" parameterMap="newsMap" resultMap="newsMap">
		SELECT id FROM news_lists WHERE title=#{title} LIMIT 1
	</select>

	<select id="readNews" parameterMap="newsMap" resultMap="newsMap">
		SELECT id, name, title, category, content, date, url, content, data_size FROM news_lists WHERE title=#{title} LIMIT 1
	</select>

	<select id="selectTitle" parameterMap="newsMap" resultMap="newsMap">
		SELECT title, url, name, category, content, date FROM news_lists ORDER BY id LIMIT #{pageNo}, 10;
	</select>

	<select id="search" parameterMap="newsMap" resultMap="newsMap">
		SELECT @ROWNUM := @ROWNUM + 1 AS rnum, title, url, name, category, content, date 
		FROM news_lists, (SELECT @ROWNUM := 0) A 
		<where>
			<if test="newsname == null and keyword ==null">
				content LIKE '%${keyword}%'  
				ORDER BY id DESC LIMIT #{pageNo},10		
			</if>
			<if test="newsname == null and keyword !=null">
				content LIKE '%${keyword}%'  
				ORDER BY id DESC LIMIT #{pageNo},10		
			</if>
			<if test="newsname != null and keyword ==null">
				name LIKE '%${newsname}%'  
				ORDER BY id DESC LIMIT #{pageNo},10		
			</if>
			<if test="newsname != null and keyword !=null">
				name LIKE '%${newsname}%' and content LIKE '%${keyword}%'
				ORDER BY id DESC LIMIT #{pageNo},10	
			</if>

		</where>
	</select>

	<select id="searchListCount" parameterMap="newsMap" resultMap="newsMap">
		<if test="newsname == null and keyword ==null">
				SELECT COUNT(title) FROM news_lists
				WHERE content LIKE '%${keyword}%'
		</if>
		<if test="newsname == null and keyword !=null">
				SELECT COUNT(title) FROM news_lists
				WHERE content LIKE '%${keyword}%'
		</if>
		<if test="newsname != null and keyword ==null">
				SELECT COUNT(newsname) FROM news_lists
				WHERE name LIKE '%${newsname}%'
		</if>
		<if test="newsname != null and keyword !=null">
				SELECT COUNT(newsname) FROM news_lists
				WHERE name LIKE '%${newsname}%'
				AND content LIKE '%${keyword}%'			  
		</if>
	</select>

	<select id="allListCount" parameterMap="newsMap" resultMap="newsMap">
		SELECT COUNT(*)	FROM news_lists
	</select> -->
</mapper>