<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout/base">
<head>
<th:block layout:fragment="css_area">
</th:block>
</head>
<body id="page-top">
<th:block th:include="fragments/signUp"/>
<th:block th:include="fragments/signIn"/>
<th:block th:include="fragments/newsModal"/>
<th:block th:replace="fragments/navigation :: navigation">
	<!-- ISSUE -->
	<th:block th:replace="fragments/section1 :: section1"/>
	
	<!-- NEWS -->
	<section class="page-section" id="news-sec" style="border-top: 1px solid #e8e8e8" th:insert="fragments/section2">
	</section>

	<!-- KEYWORD -->
	<section class="page-section" id="keyword-sec" style="border-top: 1px solid #e8e8e8" th:insert="fragments/section3">
	</section>

<div layout:fragment="script_area">
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
	<script th:src="@{/js/agency.min.js}"></script>
	<script th:src="@{/js/main_news.js}"> </script>
	<script th:src="@{/js/modal_news.js}"> </script>
	<script th:src="@{/js/newsDetail_Keyword.js}"> </script>
	<script th:src="@{/js/newsDetailPaging.js}"> </script>
	<script th:src="@{/js/signUp.js}"></script>
	<script th:src="@{/js/signIn.js}"></script>
	<script type="text/javascript" th:src="@{/js/jqcdajax.js}" charset="utf-8"></script>
</div>
</body>
</html>
	