spring:
  main:    allow-bean-definition-overriding: true
  datasource:
    username: 
    password: 
    url: jdbc:mariadb://:/?characterEncoding=UTF-8&serverTimezone=UTC
    driverClassName: org.mariadb.jdbc.Driver
  thymeleaf:
    prefix: 'classpath:templates/'
    suffix: .html
    encoding: UTF-8
    
server:  port: 
  
jasypt:
  encryptor:
    bean: jasyptStringEncrptor

logging:
  level:
    org.springframework:
      web: DEBUG
      security: DEBUG
    hibernate: DEBUG