spring:
  main:    allow-bean-definition-overriding: true
  datasource:
    username: 
    password: 
    url: jdbc:mariadb://:/?characterEncoding=UTF-8&serverTimezone=UTC
    driverClassName: org.mariadb.jdbc.Driver
  thymeleaf:
    prefix: 'classpath:templates/'
    check-template-location: true
    suffix: .html
    mode: HTML5
    cache: false
    
server:  port: 

logging:
  level:
    org.springframework:
      web: DEBUG
      security: DEBUG
    hibernate: DEBUG