<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="commonHead">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="context-path" th:content="@{/}" />
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">NewsOnMap</title>
	
	<link rel="icon" type="image/png" th:href="@{/favicon-16x16.png}"	sizes="16x16" />
	
	<!-- Custom or Page CSS -->
	<th:block layout:fragment="css_area"></th:block>
</head>
</html>