<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" color-on-scroll="500" id="mainNav" th:fragment="commonNavbar">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" th:href="@{'/news/'}">
        <img th:src="@{/img/logo1.png}" style="width: 200px; height: 65px;" />
      </a>
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        Menu <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{#issue-sec}">ISSUE</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{#news-sec}">NEWS</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{#keyword-sec}">KEYWORD</a></li>
        </ul>
      </div>
    </div>
  </nav>
</html>
