<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <th:block th:fragment="commonScripts">
    <script th:src="@{/js/ext/jquery.min.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/ext/bootstrap.bundle.min.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/ext/jquery.easing.min.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/ext/agency.min.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/news/index.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/news/modal.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/news/newsDetail_Keyword.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/news/newsDetailPaging.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/ext/jqcloud.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/news/jqcdajax.js}" type="text/javascript" charset="utf-8"></script>
  </th:block>
</html>
