<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<th:block th:fragment="commonScripts">
	<!--   Core JS Files   -->
	<script th:src="@{/assets/js/core/jquery.3.2.1.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/js/core/popper.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/js/core/bootstrap.min.js}" type="text/javascript"></script>
	<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
	<script th:src="@{/assets/js/plugins/bootstrap-switch.js}"></script>
	<!--  Chartist Plugin  -->
	<script th:src="@{/assets/js/plugins/chartist.min.js}"></script>
	<!--  Notifications Plugin    -->
	<script th:src="@{/assets/js/plugins/bootstrap-notify.js}"></script>
	<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
	<script th:src="@{/assets/js/light-bootstrap-dashboard.js?v=2.0.0} " type="text/javascript"></script>
	<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
	<script th:src="@{/assets/js/demo.js}"></script>
</th:block>
</html>