<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="commonHead">
<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="context-path" th:content="@{/}" />
	<meta name="description" content="">
	<meta name="author" content="">
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">News On Map</title>

<!-- jqcloud -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>	
<script th:src="@{/js/jqcloud.js}" charset="utf-8"></script>
<link type="text/css" rel="stylesheet" th:href="@{/css/jqcd.css}" />
<title>NEWS ON MAP</title>


<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link th:href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link th:href="https://fonts.googleapis.com/css?family=Sunflower:300&display=swap" rel="stylesheet">
<link th:href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
<link th:href='https://fonts.googleapis.com/css?family=Kaushan+Script'	rel='stylesheet' type='text/css'>
<link th:href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
<link th:href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<link th:href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
<link rel="shortcut icon" type="image⁄x-icon" th:href="@{/img/logo3.png}">
<link th:href="@{/css/main.css}" rel="stylesheet">
<th:block layout:fragment="css_area"></th:block>

<script type="text/javascript" th:src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=${naverID}"></script>
<title>NewsBigdata Analysis Website</title>
</head>
