<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="resource.NewsMapper">
	<insert id="insertNews" parameterType="vo.NewsVO">
		insert into news (newsname, title, category, date, url, content) 
		values(#{newsname},#{title},#{category},#{date},#{url},#{content})
	</insert>

	<!-- s_name에 해당하는 p_name -->
	<select id="searchProvince" parameterType="hashmap" resultType="String">
		SELECT p.name FROM province p INNER join sigungu s ON p.p_code=s.p_code
 		WHERE s.name LIKE '%${s_name}%'
	</select>
	
	<select id="searchSigungu" parameterType="hashmap" resultType="String">
		SELECT p.name FROM province p INNER join sigungu s ON p.p_code=s.p_code
 		WHERE p.name LIKE '%${first}%${second}%' limit 1
	</select>
	
	<select id="checkProvince" parameterType="string" resultType="vo.ProvinceVO">
		select p_code, name, latitude, longitude from province where name=#{name}
	</select>
	
	<!-- 기사내용 관련지명 코드 추가 -->
	<insert id="contentZone" parameterType="hashmap">
		insert into content set content=#{content}, p_name=#{p_name}, s_name=#{s_name} 
	</insert>
	
	<!-- 뉴스 전체 불러오기 -->
	<select id="allTitle" resultType="String">
		select title from newstmp;
	</select>
	
	<select id="readNews" parameterType="vo.NewsVO" resultType="vo.NewsVO">
		select title, date, content from newstmp where title=#{title}
	</select>
	<!-- 뉴스 타이틀 출력 -->
	
	<select id="selectTitle" resultType="vo.NewsVO" parameterType="vo.NewsVO">
		select title from bigkinds LIMIT #{pageNo},10;
	</select>
	
	<!-- 키워드별로 검색한 결과물 출력 -->
	<select id="search" resultType="vo.NewsVO"
		parameterType="vo.NewsVO">
		SELECT @ROWNUM := @ROWNUM + 1 as rnum, title FROM bigkinds, (select @ROWNUM := 0) A 
		WHERE title LIKE '%${keyword}%'  
		order by title DESC LIMIT #{pageNo},10;
		<!-- 
			#{startIndex}
			startIndex or pageStart : 특정 페이지의 첫번째 게시글의 행이다.
			perPageNum : 한 페이지당 보여줄 게시글의 개수이다.
		-->
	</select>

	<!-- 검색한 게시글 갯수 -->
	<select id="searchListCnt" parameterType="vo.NewsVO"
		resultType="_int">
		SELECT count(title) FROM bigkinds WHERE title LIKE '%${keyword}%'
	</select>

	<!-- 전체 게시글 갯수 -->
	<select id="allListCount" parameterType="vo.NewsVO"
		resultType="_int">
		select count(*)
		from bigkinds ;
		<!-- where type like '%'||#{searchType}||'%' and place like '%'||#{district}||'%' 
			and f.fid = d.fid and to_char(d.opendate, 'mm') like '%'||#{month}||'%' -->
	</select>
		
	<select id="emptyZone" parameterType="hashmap" resultType="int">
		select count(p_code) from ${zoneName}
	</select>
	
	<select id="listProvince" resultType="vo.ProvinceVO">
		select * from province
	</select>
	
	<select id="listSigungu" resultType="vo.SigunguVO">
		select * from sigungu
	</select>
	
	<insert id="insertProvince" parameterType="vo.ProvinceVO">
		insert into province set p_code=#{p_code}, name=#{name}, 
		latitude=#{latitude}, longitude=#{longitude}
		on duplicate key update p_code=#{p_code}, name=#{name}, 
		latitude=#{latitude}, longitude=#{longitude}
	</insert>
	
	<insert id="insertSigungu" parameterType="vo.SigunguVO">
		insert into sigungu set p_code=#{p_code}, s_code=#{s_code}, name=#{name}, 
		latitude=#{latitude}, longitude=#{longitude}
		on duplicate key update p_code=${p_code}, s_code=#{s_code}, name=#{name}, 
		latitude=#{latitude}, longitude=#{longitude}
	</insert>
</mapper>