<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="resource.NewsListMapper">

	<!-- 전체 출력  -->
	<select id="selectNews" resultType="vo.NewsVO" >
		SELECT * from news_test where keyword like '%'||#{keyword}||'%'
	</select>
	<!-- select * from memberinfo where email=#{email} -->
	
	<!-- 뉴스 타이틀  출력 -->
	<select id="selectTitle" resultType="vo.NewsVO">
		select title from news_test;
	</select>
</mapper>
