<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="resource.NewsMapper">
	<!-- 뉴스 시도명 구분  -->
	<insert id="zoneProvince">
	
	</insert>
	
	<insert id="zoneSigungu">
	
	</insert>
	
	<!-- 뉴스 전체 불러오기 -->
	<select id="allTitle" resultType="String">
		select title from newstmp;
	</select>
	
	<select id="readNews" parameterType="vo.NewsVO" resultType="vo.NewsVO">
		select title, date, contents from newstmp where title=#{title}
	</select>
	
	<select id="emptyZone" parameterType="hashmap" resultType="int">
		select count(p_code) from ${zoneName}
	</select>
	
	<select id="listProvince" resultType="vo.ProvinceVO">
		select * from province
	</select>
	
	<select id="listSigungu" resultType="vo.SigunguVO">
		select * from sigungu
	</select>
	
	<insert id="insertProvince" parameterType="vo.ProvinceVO">
		insert into province set p_code=#{p_code}, name=#{name}, 
		latitude=#{latitude}, longitude=#{longitude}
		on duplicate key update p_code=#{p_code}, name=#{name}, 
		latitude=#{latitude}, longitude=#{longitude}
	</insert>
	
	<insert id="insertSigungu" parameterType="vo.SigunguVO">
		insert into sigungu set p_code=#{p_code}, s_code=#{s_code}, name=#{name}, 
		latitude=#{latitude}, longitude=#{longitude}
		on duplicate key update p_code=${p_code}, s_code=#{s_code}, name=#{name}, 
		latitude=#{latitude}, longitude=#{longitude}
	</insert>
</mapper>